name: Deploy to production (branch-restricted)

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - name: Generate version tag
      #   id: version
      #   run: |
      #     VERSION="v$(date +'%Y.%m.%d.%H%M%S')"
      #     echo "version=$VERSION" >> $GITHUB_OUTPUT
      #     echo "Generated version: $VERSION"

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ${{ secrets.DOCKER_USERNAME }}/business-tracker-api:${{ steps.version.outputs.version }}
      #       ${{ secrets.DOCKER_USERNAME }}/business-tracker-api:latest
      #     cache-from: type=gha
      #     cache-to: type=gha,mode=max

      #  SSH into EC2 and deploy
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
           echo "Connected successfully"
            whoami
            echo "Pulling latest image..."
            docker pull ${{ secrets.DOCKER_USERNAME }}/business-tracker-api:latest

            echo "Stopping old container..."
            docker stop business-tracker-api || true
            docker rm business-tracker-api || true

            echo "Starting new container..."
            docker run -d \
              --name business-tracker-api \
              --env-file /opt/business-tracker-api.env \
              -p 3003:3000 \
              --restart always \
              ${{ secrets.DOCKER_USERNAME }}/business-tracker-api:latest


