name: Test the secret key

on: 
  workflow_dispatch:

jobs: 
  test-secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Test if secrets really works
        run: |
          echo "My secret is: ${{ secrets.SUPABASE_JWT_KEY }}"